body {
    background-color: #b3fff0;
}

.text-form {
    width: 50%;
    text-align: center;
}

#phone {
    background-color: #f2f2f2;
}

#body {
    height: 200px;
    background-color: #f2f2f2;
}

