<!DOCTYPE html>
<html>
<head>
    <title>Twilio App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info flash-msg" role="alert">{{ message }}</div><br>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container text-form">
    <form action="/send" method="POST">
        <h2>Please Write your Text</h2>
        <label for="phone" class="sr-only">Phone number</label>
            <input type="tel" name="phone" id="phone" class="form-control" placeholder="Phone number" required autofocus>
        <label for="body" class="sr-only">Message</label>
            <textarea type="textarea" name="body" id="body" class="form-control" placeholder="Message" required></textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    </form>
</div>
</body>
</html>